body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.container {
    background-color: #f4f4f9;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.header {
    background-color: #f4f4f9;
    text-align: justify;
    margin-bottom: 10px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.header h1 {
    font-size: 1.8rem;
    color: #1a7f37;
    font-weight: bold;
    margin: 0;
}

.header p {
    color: #555;
    font-size: 14px;
    margin-top: 8px;
    text-align: justify;
}

.recipe {
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-header h2 {
    margin: 0;
}

.recipe-header h2 a {
    color: #388e3c;
    font-size: 20px;
}

.extra-icons {
    display: flex;
    gap: 8px;
}

.extra-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.description {
    display: flex;
    align-items: center;
    font-style: italic;
    color: #777;
    margin: 5px 0;
}

.description-image {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.icons {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 5px;
}

.icons img {
    width: 25px;
    height: auto;
}

.recipe p {
    margin: 5px 0;
}

.recipe p strong {
    font-weight: bold;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f6; /* Fondo oscuro */
  }
  
  .pagination a {
    color: black; /* Color azul */
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .pagination a:hover {
    background-color: green; /* Color al pasar el cursor */
    color: white;
  }
  
  .pagination a.active {
    background-color: #ff0; /* Color resaltado para el activo */
    color: black;
  }
  
  a {
    color: #388e3c;
    font-size: 20px;
  }
  